---
import Datetime from "./Datetime";
import slugifyStr from "@utils/slugify";
import type { CollectionEntry } from "astro:content";

interface Props {
  href: string;
  frontmatter: CollectionEntry<"blog">["data"];
  secHeading?: boolean;
}

const { href, frontmatter, secHeading = true } = Astro.props;
const { title, pubDatetime, modDatetime, description, readingTime } = frontmatter;
---

<li class="my-6">
  <a
    href={href}
    class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
    aria-label={`Read more about ${title}`}
  >
    {
      secHeading ? (
        <h2
          class="text-lg font-medium decoration-dashed hover:underline"
          transition:name={slugifyStr(title)}
        >
          {title}
        </h2>
      ) : (
        <h3
          class="text-lg font-medium decoration-dashed hover:underline"
          transition:name={slugifyStr(title)}
        >
          {title}
        </h3>
      )
    }
  </a>
  <Datetime pubDatetime={pubDatetime} modDatetime={modDatetime} readingTime={readingTime} />
  <p>{description}</p>
</li>
